body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

* {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* font */
@font-face {
  font-family: 'ExtraBold';
  src: url('./assets/fonts/AppleSDGothicNeoEB.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf');
}

@font-face {
  font-family: 'SemiBold';
  src: url('./assets/fonts/AppleSDGothicNeoB.ttf');
}
